<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/index.html">Big Gym</a>
        </div>
            <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'" ng-click="navCollapsed=true">
                <ul class="nav navbar-nav">
                    <li><a href="#/CourseHome">Courses</a>
                    </li>
                    <li><a href="#/Categories/">Course categories</a>
                    </li>
                    <li><a href="#">Rooms</a>
                    </li>
                    <li><a href="#">Instructors</a>
                    </li>
                    <li><a href="#">Overall schedule</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">

                    <li ng-repeat="inf in info"><a href="{{inf.address}}">{{inf.name}}                        </a>
                    </li>
                    <li ng-repeat="inf in info">

                        <div ng-show="{{inf.home}}" class="btn-group" dropdown is-open="status.isopen">
                            <button type="button" class="btn mybtn btn-warning dropdown-toggle" dropdown-toggle ng-disabled="disabled">
                                Courses <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#/courseByLevel">By level</a>
                                </li>
                                <li><a href="#/coursesByCategory">By category</a>
                                </li>
                        </div>
                    </li>
            </div>
        </div>
</nav>

        