<div ng-controller="NavBarController">
    <div my-customer info="customers"></div>
</div>
<header>
    <div class="header-content-course" style="background-image: url({{detail.Img}});">
        <div class="header-content-inner">
            <h1>{{detail.Nome}}</h1>
            <hr>
            <div id="courseProperties" class="text-left col-lg-2">
                <h2>Age:<small>{{ detail.AgeRange }}</small></h2>
                <h2>Popularity:<small>{{ detail.Popularity }}</small></h2>
                <h2>Level:<small>{{ detail.Livello }}</small></h2>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <p>{{detail.Descrizione}}</p>
    <p>{{detail.Dettaglio}}</p>
    <a class="btn btn-default" href="#/form/{{detail.ID}}#top" role="button">Enroll!</a>
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">The instructors</h2>
        </div>
        <div ng-repeat="instructor in instructors">

            <div class="containInstr col-lg-2 col-sm-4 text-center">
                <p><strong>{{instructor.NickName}}</strong>
                </p>
                <a href="#/instructor/{{instructor.IDInstructor}}">
                    <img ng-src="{{ instructor.pathImageLogo }}" class="miniInstr img-center img-responsive img-circle">
                </a>
            </div>
        </div>
    </div>
</div>