<div ng-controller="NavBarController">
    <div my-customer info="customers"></div>
</div>
<div>


    <header>
        <div class="header-content-instructor">
            <div class="header-content-inner">
                <h1>Our Instructors</h1>
                <hr>
                <img ng-src="{{ instructor.pathImageLogo   }}" class="img-responsive img-circle">
            </div>
        </div>
    </header>
    <div class="container">

        <h2 class="page-header">{{instructor.Name}}  <small>{{ instructor.NickName }}</small> </h2>

        <p>{{ instructor.Descrizione}}</p>
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">The courses</h2>
            </div>
            <div ng-repeat="course in courses">
                <div class="containInstr col-lg-2 col-sm-4 text-center">
                    <p>{{course.Nome}}</p>
                    <a href="#/course/{{course.IDCourse}}">
                        <img ng-src="{{ course.Img }}" class="img-responsive img-center">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>