@media(min-width:768px) {
    .sidebar {
        position: fixed;
        background-color: #222;
        width: 15%;
        margin-top: 100px;
        box-shadow: 4px 0px 4px #363636;
        text-transform: uppercase;
        font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
        font-weight: 400;
        letter-spacing: 1px;
        color: #fed136;
        border-radius: 0px;
        text-align: left;
        overflow: visible;
        padding-bottom: 10px;
        z-index: 999;
    }
    .sidebar h4 {
        margin-top: 20px;
        margin-left: 20px;
        color: #fff;
    }
    .sidebar hr {
        border-color: #fed136;
    }
    .sidebarElement {
        margin: 10px 20px;
    }
    .sidebarElement a {
        color: #fed136;
        text-decoration: none;
    }
    .sidebarElement a:hover {
        color: #DCAE14;
        text-decoration: none;
    }
}

@media(max-width:768px) {
    .sidebar {
        position: static;
        background-color: #222;
        width: 100%;
        margin-top: -30px;
        text-transform: uppercase;
        font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
        font-weight: 400;
        letter-spacing: 1px;
        color: #fed136;
        border-radius: 0px;
        text-align: left;
        padding-bottom: 10px;
        padding-top: 10px;
        z-index: 999;
    }
    .sidebar h4 {
        margin-top: 20px;
        margin-left: 20px;
        color: #fff;
    }
    .sidebarElement {
        margin: 10px 20px;
    }
    .sidebarElement a {
        color: #fed136;
        text-decoration: none;
    }
    .sidebarElement a:hover {
        color: #DCAE14;
        text-decoration: none;
    }
}